/* merriweather-300 - cyrillic_vietnamese_cyrillic-ext_latin_latin-ext */
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    src: url('merriweather-v19-cyrillic_vietnamese_cyrillic-ext_latin_latin-ext-300.eot'); /* IE9 Compat Modes */
    src: local('Merriweather Light'), local('Merriweather-Light'),
    url('merriweather-v19-cyrillic_vietnamese_cyrillic-ext_latin_latin-ext-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('merriweather-v19-cyrillic_vietnamese_cyrillic-ext_latin_latin-ext-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('merriweather-v19-cyrillic_vietnamese_cyrillic-ext_latin_latin-ext-300.woff') format('woff'), /* Modern Browsers */
    url('merriweather-v19-cyrillic_vietnamese_cyrillic-ext_latin_latin-ext-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('merriweather-v19-cyrillic_vietnamese_cyrillic-ext_latin_latin-ext-300.svg#Merriweather') format('svg'); /* Legacy iOS */
}
/* merriweather-300italic - cyrillic_vietnamese_cyrillic-ext_latin_latin-ext */
@font-face {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 300;
    src: url('merriweather-v19-cyrillic_vietnamese_cyrillic-ext_latin_latin-ext-300italic.eot'); /* IE9 Compat Modes */
    src: local('Merriweather Light Italic'), local('Merriweather-LightItalic'),
    url('merriweather-v19-cyrillic_vietnamese_cyrillic-ext_latin_latin-ext-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('merriweather-v19-cyrillic_vietnamese_cyrillic-ext_latin_latin-ext-300italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('merriweather-v19-cyrillic_vietnamese_cyrillic-ext_latin_latin-ext-300italic.woff') format('woff'), /* Modern Browsers */
    url('merriweather-v19-cyrillic_vietnamese_cyrillic-ext_latin_latin-ext-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('merriweather-v19-cyrillic_vietnamese_cyrillic-ext_latin_latin-ext-300italic.svg#Merriweather') format('svg'); /* Legacy iOS */
}
/* merriweather-regular - cyrillic_vietnamese_cyrillic-ext_latin_latin-ext */
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: url('merriweather-v19-cyrillic_vietnamese_cyrillic-ext_latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
    src: local('Merriweather Regular'), local('Merriweather-Regular'),
    url('merriweather-v19-cyrillic_vietnamese_cyrillic-ext_latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('merriweather-v19-cyrillic_vietnamese_cyrillic-ext_latin_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('merriweather-v19-cyrillic_vietnamese_cyrillic-ext_latin_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
    url('merriweather-v19-cyrillic_vietnamese_cyrillic-ext_latin_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('merriweather-v19-cyrillic_vietnamese_cyrillic-ext_latin_latin-ext-regular.svg#Merriweather') format('svg'); /* Legacy iOS */
}
/* merriweather-italic - cyrillic_vietnamese_cyrillic-ext_latin_latin-ext */
@font-face {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 400;
    src: url('merriweather-v19-cyrillic_vietnamese_cyrillic-ext_latin_latin-ext-italic.eot'); /* IE9 Compat Modes */
    src: local('Merriweather Italic'), local('Merriweather-Italic'),
    url('merriweather-v19-cyrillic_vietnamese_cyrillic-ext_latin_latin-ext-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('merriweather-v19-cyrillic_vietnamese_cyrillic-ext_latin_latin-ext-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('merriweather-v19-cyrillic_vietnamese_cyrillic-ext_latin_latin-ext-italic.woff') format('woff'), /* Modern Browsers */
    url('merriweather-v19-cyrillic_vietnamese_cyrillic-ext_latin_latin-ext-italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('merriweather-v19-cyrillic_vietnamese_cyrillic-ext_latin_latin-ext-italic.svg#Merriweather') format('svg'); /* Legacy iOS */
}
/* merriweather-700 - cyrillic_vietnamese_cyrillic-ext_latin_latin-ext */
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    src: url('merriweather-v19-cyrillic_vietnamese_cyrillic-ext_latin_latin-ext-700.eot'); /* IE9 Compat Modes */
    src: local('Merriweather Bold'), local('Merriweather-Bold'),
    url('merriweather-v19-cyrillic_vietnamese_cyrillic-ext_latin_latin-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('merriweather-v19-cyrillic_vietnamese_cyrillic-ext_latin_latin-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('merriweather-v19-cyrillic_vietnamese_cyrillic-ext_latin_latin-ext-700.woff') format('woff'), /* Modern Browsers */
    url('merriweather-v19-cyrillic_vietnamese_cyrillic-ext_latin_latin-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('merriweather-v19-cyrillic_vietnamese_cyrillic-ext_latin_latin-ext-700.svg#Merriweather') format('svg'); /* Legacy iOS */
}
/* merriweather-700italic - cyrillic_vietnamese_cyrillic-ext_latin_latin-ext */
@font-face {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 700;
    src: url('merriweather-v19-cyrillic_vietnamese_cyrillic-ext_latin_latin-ext-700italic.eot'); /* IE9 Compat Modes */
    src: local('Merriweather Bold Italic'), local('Merriweather-BoldItalic'),
    url('merriweather-v19-cyrillic_vietnamese_cyrillic-ext_latin_latin-ext-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('merriweather-v19-cyrillic_vietnamese_cyrillic-ext_latin_latin-ext-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('merriweather-v19-cyrillic_vietnamese_cyrillic-ext_latin_latin-ext-700italic.woff') format('woff'), /* Modern Browsers */
    url('merriweather-v19-cyrillic_vietnamese_cyrillic-ext_latin_latin-ext-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('merriweather-v19-cyrillic_vietnamese_cyrillic-ext_latin_latin-ext-700italic.svg#Merriweather') format('svg'); /* Legacy iOS */
}
/* merriweather-900italic - cyrillic_vietnamese_cyrillic-ext_latin_latin-ext */
@font-face {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 900;
    src: url('merriweather-v19-cyrillic_vietnamese_cyrillic-ext_latin_latin-ext-900italic.eot'); /* IE9 Compat Modes */
    src: local('Merriweather Black Italic'), local('Merriweather-BlackItalic'),
    url('merriweather-v19-cyrillic_vietnamese_cyrillic-ext_latin_latin-ext-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('merriweather-v19-cyrillic_vietnamese_cyrillic-ext_latin_latin-ext-900italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('merriweather-v19-cyrillic_vietnamese_cyrillic-ext_latin_latin-ext-900italic.woff') format('woff'), /* Modern Browsers */
    url('merriweather-v19-cyrillic_vietnamese_cyrillic-ext_latin_latin-ext-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('merriweather-v19-cyrillic_vietnamese_cyrillic-ext_latin_latin-ext-900italic.svg#Merriweather') format('svg'); /* Legacy iOS */
}
/* merriweather-900 - cyrillic_vietnamese_cyrillic-ext_latin_latin-ext */
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    src: url('merriweather-v19-cyrillic_vietnamese_cyrillic-ext_latin_latin-ext-900.eot'); /* IE9 Compat Modes */
    src: local('Merriweather Black'), local('Merriweather-Black'),
    url('merriweather-v19-cyrillic_vietnamese_cyrillic-ext_latin_latin-ext-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('merriweather-v19-cyrillic_vietnamese_cyrillic-ext_latin_latin-ext-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('merriweather-v19-cyrillic_vietnamese_cyrillic-ext_latin_latin-ext-900.woff') format('woff'), /* Modern Browsers */
    url('merriweather-v19-cyrillic_vietnamese_cyrillic-ext_latin_latin-ext-900.ttf') format('truetype'), /* Safari, Android, iOS */
    url('merriweather-v19-cyrillic_vietnamese_cyrillic-ext_latin_latin-ext-900.svg#Merriweather') format('svg'); /* Legacy iOS */
}