/* roboto-100 - latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-100.eot'); /* IE9 Compat Modes */
    src: local('Roboto Thin'), local('Roboto-Thin'),
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-100.woff2') format('woff2'), /* Super Modern Browsers */
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-100.woff') format('woff'), /* Modern Browsers */
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-100.ttf') format('truetype'), /* Safari, Android, iOS */
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-100.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-300 - latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-300.eot'); /* IE9 Compat Modes */
    src: local('Roboto Light'), local('Roboto-Light'),
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-300.woff') format('woff'), /* Modern Browsers */
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-100italic - latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    src: url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-100italic.eot'); /* IE9 Compat Modes */
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-100italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-100italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-100italic.woff') format('woff'), /* Modern Browsers */
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-100italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-100italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-300italic - latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-300italic.eot'); /* IE9 Compat Modes */
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-300italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-300italic.woff') format('woff'), /* Modern Browsers */
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-300italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-regular.woff') format('woff'), /* Modern Browsers */
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-500.eot'); /* IE9 Compat Modes */
    src: local('Roboto Medium'), local('Roboto-Medium'),
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-500.woff') format('woff'), /* Modern Browsers */
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-italic - latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-italic.eot'); /* IE9 Compat Modes */
    src: local('Roboto Italic'), local('Roboto-Italic'),
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-italic.woff') format('woff'), /* Modern Browsers */
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500italic - latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-500italic.eot'); /* IE9 Compat Modes */
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-500italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-500italic.woff') format('woff'), /* Modern Browsers */
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-500italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700italic - latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-700italic.eot'); /* IE9 Compat Modes */
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-700italic.woff') format('woff'), /* Modern Browsers */
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-700italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-700.eot'); /* IE9 Compat Modes */
    src: local('Roboto Bold'), local('Roboto-Bold'),
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-700.woff') format('woff'), /* Modern Browsers */
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-900 - latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-900.eot'); /* IE9 Compat Modes */
    src: local('Roboto Black'), local('Roboto-Black'),
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-900.woff') format('woff'), /* Modern Browsers */
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-900.ttf') format('truetype'), /* Safari, Android, iOS */
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-900.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-900italic - latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    src: url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-900italic.eot'); /* IE9 Compat Modes */
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'),
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-900italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-900italic.woff') format('woff'), /* Modern Browsers */
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('roboto-v18-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext_vietnamese-900italic.svg#Roboto') format('svg'); /* Legacy iOS */
}