/* amatic-sc-regular - hebrew_vietnamese_latin-ext_latin_cyrillic */
@font-face {
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 400;
    src: url('amatic-sc-v11-hebrew_vietnamese_latin-ext_latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local('Amatic SC Regular'), local('AmaticSC-Regular'),
    url('amatic-sc-v11-hebrew_vietnamese_latin-ext_latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('amatic-sc-v11-hebrew_vietnamese_latin-ext_latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('amatic-sc-v11-hebrew_vietnamese_latin-ext_latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
    url('amatic-sc-v11-hebrew_vietnamese_latin-ext_latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('amatic-sc-v11-hebrew_vietnamese_latin-ext_latin_cyrillic-regular.svg#AmaticSC') format('svg'); /* Legacy iOS */
}
/* amatic-sc-700 - hebrew_vietnamese_latin-ext_latin_cyrillic */
@font-face {
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 700;
    src: url('amatic-sc-v11-hebrew_vietnamese_latin-ext_latin_cyrillic-700.eot'); /* IE9 Compat Modes */
    src: local('Amatic SC Bold'), local('AmaticSC-Bold'),
    url('amatic-sc-v11-hebrew_vietnamese_latin-ext_latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('amatic-sc-v11-hebrew_vietnamese_latin-ext_latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('amatic-sc-v11-hebrew_vietnamese_latin-ext_latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
    url('amatic-sc-v11-hebrew_vietnamese_latin-ext_latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('amatic-sc-v11-hebrew_vietnamese_latin-ext_latin_cyrillic-700.svg#AmaticSC') format('svg'); /* Legacy iOS */
}