/* permanent-marker-regular - latin */
@font-face {
    font-family: 'Permanent Marker';
    font-style: normal;
    font-weight: 400;
    src: url('permanent-marker-v7-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Permanent Marker Regular'), local('PermanentMarker-Regular'),
    url('permanent-marker-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('permanent-marker-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('permanent-marker-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('permanent-marker-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('permanent-marker-v7-latin-regular.svg#PermanentMarker') format('svg'); /* Legacy iOS */
}